<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RichTextCleanerFW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RichTextCleanerFW.Properties.Settings>
            <setting name="RemoveBold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoveItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoveUnderline" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddTargetBlank" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QuoteProcess" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="QueryCleanLevel" serializeAs="String">
                <value>0</value>
            </setting>
        </RichTextCleanerFW.Properties.Settings>
    </userSettings>
</configuration>